.root{
    -fx-border-color: black;
    -fx-border-width: 10px;
    -fx-border-style: solid;
}

.label{
    -fx-font-size: 15;
    -fx-text-fill: black;

}

.hbox {
    -fx-background-color: #252626;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.vbox{
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);


}


.label{
    -fx-font-style: bold;
    -fx-font-size: 20;
}
.button{
    -fx-background-color: #5f5f61;
    -fx-text-fill: black;
    -fx-pref-width: 200;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-padding: 8;
    -fx-background-radius: 20;
}
.button:hover{
    -fx-opacity: 0.7;
    -fx-background-insets: 0 0 -2 0, 0, 2, 4;
    /*-fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
}

.text-field{
    -fx-padding: 10;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-radius:15;
}


.borderpane{
    -fx-background-radius: 10;
    -fx-background-color: gray;
}